
#col2{
    text-align: center;
    color: cornflowerblue;
}
/*#user_name{
    width: 250px;
    text-align: center;
    font-size: 15px;
}*/

#botonInicio{
    border-radius: 10px;
    width: 100px;
    padding: 8px;
 
    
}

